.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  padding: 20px;
  margin: 0 auto;
  color: black;
}

.post {
  background: cadetblue;
  border-radius: 9px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.post-body {
  display: flex;
  align-items: start;
  justify-content: center;
}

.post-header {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.author {
  display: flex;
  align-items: center;
  gap: 15px;
}
